#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--subBg500);
    padding: 1rem;
}

.header__logo {
    display: flex;
    width: 25%;
}
.header__logo a {
    font-size: 1.5rem;
    color: var(--mainFont-color);
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}
.header__logo a >em {
    color: var(--subBg200);
    font-weight: 700;
    font-size: 1.2rem;
}
.header__logo i {
    font-size: 1rem;
    text-transform: none;
}

.header__nav {
    width: 60%;
}

.header__nav li {
    display: inline;
    padding: 15px 30px;
    transition: all 0.3s;
}
.header__nav li:hover {
    background-color: var(--subBg400);
    border-radius: 15px;
}
.header__nav li a {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white);
}